target/
project/target/
project/project/
.bsp/

.idea/
.vscode/
*.iml
*.swp
.DS_Store

*.class
*.log

__pycache__/
*.pyc
*.pyo
.venv/
venv/
env/

data/output/
spark-warehouse/
metastore_db/
derby.log

*.jar
!project/lib/*.jar
